.header__login-link-add {
	background-color: white;
	width: 7rem;
	height: 3rem;
	display: flex;
	justify-content: center;
}

.header__login-link-active {
	background-color: white;
	display: flex;
	text-decoration: none;
	color: black;
	align-self: center;
	text-align: center;
}
