@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.search-page {
	padding: 1rem;
	width: 100%;
	display: flex;
	flex-direction: column;

	&__title {
		font-weight: bold;
		align-self: center;
		margin-bottom: 1rem;
	}
}

.form {
	display: flex;
	align-items: baseline;

	@include desktop {
		margin-bottom: 1rem;
		display: flex;
		align-items: center;
		width: 100%;
		justify-content: center;
		flex-direction: row;
		margin-bottom: 6rem;
	}

	&__input {
		width: 19rem;
		height: 2rem;
		border: 1px solid gray;
		justify-content: center;
	}

	&__button {
		@include desktop {
			width: 12rem;
			height: 2rem;
			border: 1px solid gray;
			justify-content: center;
			background-color: white;
			background-image: url("../../assets/icons/search.svg");
			background-repeat: no-repeat;
			background-position: center;
			order: 2;
			width: 2rem;
		}
	}
}

.products-container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	gap: 2rem;
}

.card {
	display: flex;

	margin-bottom: 1rem;

	@include desktop {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		margin-bottom: 1rem;
		align-items: center;
		flex-wrap: wrap;
		border-radius: 3rem;
		align-items: baseline;
		background-color: white;
		width: 24rem;
		height: 21rem;
		padding-top: 1rem;
		padding-left: 1rem;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		cursor: pointer;
	}

	&__title {
		font-size: 1rem;
		padding-left: 0.5rem;
		width: 16rem;
		text-align: center;
	}

	&__image {
		margin-bottom: 2rem;
		width: 11rem;
		height: 11rem;
		object-fit: contain;
	}
}

.gear-spinner {
	color: black;
	width: 5rem;
	align-self: center;
}
// .button {
// 	width: 100%;
// 	gap: 2rem;
// 	justify-content: center;
// 	display: flex;

// 	&__delete {
// 		width: 8rem;
// 		border-radius: 9px;
// 		height: 2rem;
// 		border: 1px solid gray;
// 		justify-content: center;
// 	}

// 	&__edit {
// 		width: 8rem;
// 		border-radius: 9px;
// 		height: 2rem;
// 		border: 1px solid gray;
// 	}
// }
:placeholder-shown {
	text-align: center;
}

.card:hover {
	box-shadow: 0px 0px 26px gray;
}

// .modal--display {
// 	z-index: 1;
// 	background-color: black;
// 	// opacity: 0.7;
// 	top: 0rem;
// 	position: absolute;
// 	width: 100%;
// 	height: 100rem;
// }

// .overlay--hide {
// 	display: none;
// }
