@use "./fonts" as *;
@use "./mixins" as *;

//box size reset
*,
*::before,
*::after {
	box-sizing: border-box;

	font-family: "nunito";
	font-weight: 400;
}
body {
	margin: 0;
}

h1 {
	margin: 0;
	font-weight: bold;
}
