.header__login-link {
	text-decoration: none;
	color: white;
}

.header__login-link--active {
	background-color: black;
	display: flex;
	text-decoration: none;
	color: white;
	align-self: center;
	text-align: center;
}
