@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.logo {
	display: flex;
	flex-direction: column;

	&__image {
		height: 6rem;
		width: 6rem;
		filter: invert(1);
	}
}
