@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: black;
	height: 12rem;
	margin-bottom: 3rem;
	width: 100%;
	position: fixed;
	top: 0;

	@include tablet {
		flex-direction: row;
	}

	@include desktop {
		justify-content: space-between;
		padding: 0rem 10rem;
	}

	&__title-logo-container {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;

		@include tablet {
			flex-direction: row;
			gap: 1rem;
		}

		@include desktop {
			gap: 3rem;
		}
	}

	&__title {
		font-size: 2rem;
		color: white;

		@include tablet {
			font-size: 2.5rem;
		}

		@include desktop {
			font-size: 3rem;
		}
	}

	&__login-link {
		text-decoration: none;
		color: white;
	}

	&__login-link-add {
		background-color: white;
		width: 7rem;
		height: 3rem;
		display: flex;
		justify-content: center;
	}

	&__login-link-active {
		background-color: white;
		display: flex;
		text-decoration: none;
		color: black;
		align-self: center;
		text-align: center;
	}
}

.search-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;

	@include tablet {
		flex-direction: row;
	}

	@include desktop {
		gap: 2rem;
	}

	&__input {
		text-align: center;
		font-size: 1.2rem;
	}
}
