@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.shelves {
	display: flex;
	flex-direction: column;

	&__main {
		display: flex;
		justify-content: center;
		gap: 11rem;
	}

	&__content-container {
		display: flex;
		flex-direction: column;
		margin-left: 3rem;
		border-radius: 3rem;
		align-items: baseline;
		background-color: white;
		width: 41rem;
		height: 69rem;
		padding-top: 1rem;
		padding-left: 1rem;
	}

	&__title {
		color: black;
		font-size: 2rem;
		padding-bottom: 0.5rem;
		/* text-align: center; */
		display: flex;
		width: 100%;
		display: flex;
		justify-content: center;
		padding-top: 1rem;
	}

	&__details-container {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		padding-bottom: 0.5rem;
		width: 100%;
	}

	&__label {
		display: flex;
		color: black;
		border: 1px solid black;
		border-radius: 3px;
		width: 7rem;

		/* text-align: center; */
		height: 2.3rem;
		justify-content: center;
		align-items: center;
	}

	&__image {
		object-fit: contain;
		width: 18rem;
		height: 21rem;
		margin-bottom: 3rem;
		margin-left: 10rem;
	}

	&__content {
		width: 100%;
		line-height: 1.6rem;
		padding-bottom: 3rem;
		padding-top: 1rem;
	}
}

.button {
	width: 100%;
	gap: 2rem;
	justify-content: center;
	display: flex;

	&__delete {
		width: 8rem;
		border-radius: 9px;
		height: 2rem;
		border: 1px solid gray;
		justify-content: center;
	}

	&__edit {
		width: 8rem;
		border-radius: 9px;
		height: 2rem;
		border: 1px solid gray;
	}
}
