.delete-modal {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 30%;
	background-color: white;
	box-shadow: 0px 0px 26px grey;
	z-index: 99;
	height: 17rem;
	align-items: center;

	&__title {
		margin-bottom: 4rem;
		margin-top: 2rem;
		font-size: 1.4rem;
	}
}

.delete-button-container {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

.confirm-delete-button {
	border-style: none;
	height: 2rem;
	background-color: #f6784f;
	color: black;
	width: 39%;
	cursor: pointer;
}

.confirm-cancel-button {
	border-style: none;
	height: 2rem;
	border: 1px solid #f6784f;
	background-color: white;
	color: black;
	width: 39%;
}

.modal__close-icon {
	cursor: pointer;
}
