@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.card {
	display: flex;
	flex-direction: column;

	&__image {
		width: 12rem;
		height: 12rem;
		border-radius: 0.625rem;
	}

	&__category {
		font-size: 1.5rem;
	}
}
