@use "./styles/partials/global" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/fonts" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
}
html {
	overflow-x: hidden;
}
body {
	background-color: white;
	font-family: "merriweather";
	font-weight: 400;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
