@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.modal {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 70%;
	background-color: white;
	box-shadow: 0px 0px 26px gray;

	&__item-container {
		display: flex;
		//TODO might have to change this back to column
		flex-direction: row;
		align-items: center;
	}

	&__title {
		margin-bottom: 2rem;
	}

	&__images {
		width: 100%;
		align-self: center;
		margin-bottom: 4rem;
	}

	&__close-icon {
		align-self: flex-end;
	}

	&__text {
		line-height: 1.7rem;
		font-size: 17px;

		@include tablet {
		}
	}

	&__image-container {
		width: 10rem;
	}

	&__contents {
		display: flex;
		flex-direction: row;
	}
}

.button-container {
	display: flex;
	justify-content: center;
	width: 100%;
	@include tablet {
	}
}

.delete-button {
	border-style: none;
	height: 2rem;
	border-radius: 1rem;
	border: 1px solid black;
	background-color: white;
	color: black;
	width: 47%;

	@include tablet {
		width: 15%;
		margin-left: 1rem;
	}
}

.cancel-button {
	border-style: none;
	height: 2rem;
	border-radius: 1rem;
	border: 1px solid black;
	background-color: white;
	color: black;
	width: 47%;

	@include tablet {
		width: 15%;
	}
}

.modal--display {
	background-color: white;
	height: 56%;
	width: 100%;
	position: absolute;
	z-index: 2;
	top: 255px;

	@include tablet {
		position: absolute;
		width: 65%;
		align-self: center;
		right: 9rem;
		top: 12rem;
		height: 19rem;
	}

	// @include desktop {
	// 	right: 15rem;
	// 	height: 40rem;
	// }
}

.modal--hide {
	display: none;
}

.edit__form {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	gap: 1rem;

	&__selectors {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 6rem;
	}

	&__location-input {
		width: 49%;
	}

	&__notes-input {
		width: 49%;
	}
}
