@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;

.shelves {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 83%;
	justify-content: center;
	gap: 14rem;

	&__image {
	}

	&__shelf {
	}
}
